SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9nZHVrdGJrbWpmdnlnemh2cWRyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY5NTkxMzgsImV4cCI6MjA4MjUzNTEzOH0.7GozJUWNizyFh9bA-TAYgwjNEDvcQ_M5g-wqhemWa_A
SUPABASE_URL=https://ogduktbkmjfvygzhvqdr.supabase.co